<div class="card-layout">
  <div class="card-header">
    <div class="card-inner-header">
      <div class="character-avatar"></div>
      <div class="character-description"><h1>Developer</h1></div>
    </div>
  </div>
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
      pariatur quam est beatae cum animi esse culpa dolore fugit aliquam
      officiis hic nihil earum, tenetur odio nemo excepturi quas distinctio.
    </p>
  </div>
</div>
